<ion-modal [isOpen]="isOpen()" [backdropDismiss]="false" class="credential-revoked-modal">
  <ng-template>
    <app-header [showLogo]="true" />

    <div class="credential-revoked">
      <!-- Main Content -->
      <div class="credential-revoked__content">
        <!-- Warning Icon -->
        <div class="credential-revoked__icon credential-revoked__icon--error">
          <ion-icon name="alert-circle"></ion-icon>
        </div>

        <!-- Title -->
        <h1 class="credential-revoked__title">
          {{ 'verification.revoked.title' | translate }}
        </h1>

        <!-- Subtitle -->
        <p class="credential-revoked__subtitle">
          {{ 'verification.revoked.subtitle' | translate }}
        </p>

        <!-- Credential Information Card -->
        <div class="credential-revoked__card credential-revoked__card--error">

          <div class="card__content">
            <!-- Employee Info -->
            <div class="card__employee">
                <div class="employee__name">{{ 'verification.qr.credentialType' | translate }}</div>
            </div>

            <!-- Validation Status -->
            <div class="card__validations">
              <!-- Presentation Valid -->
              <div class="validation__item validation__item--pass">
                <ion-icon name="checkmark-circle" class="validation__icon"></ion-icon>
                <span class="validation__text">
                  {{ 'verification.revoked.presentationValid' | translate }}
                </span>
              </div>

              <!-- Credential Invalid -->
              <div class="validation__item validation__item--fail">
                <ion-icon name="close-circle" class="validation__icon"></ion-icon>
                <span class="validation__text">
                  {{ 'verification.revoked.credentialInvalid' | translate }}
                </span>
              </div>
            </div>
            <div class="card__footer">
                <!-- Try Again Button -->
                <ion-button 
                    expand="block" 
                    shape="round" 
                    class="credential-revoked__button"
                    (click)="onTryAgainClick()">
                    <ion-icon name="refresh" slot="start"></ion-icon>
                    {{ 'verification.revoked.tryAgain' | translate }}
                </ion-button>
            </div>
            
          </div>
        </div>

        
      </div>
    </div>
  </ng-template>
</ion-modal>
